<div class="bg-[#005B56] py-12">
  <div class="container mx-auto px-2 md:px-0">
    <div class="flex gap-4 md:gap-6 lg:gap-12 flex-col md:flex-row">
      <div class="w-full md:w-1/4">
        <div class="flex items-center gap-4">
          <img src="logo.svg" alt="" />
          <h6 class="text-white text-[20px] font-semibold">Sell&Chill</h6>
        </div>
        <p class="text-white text-[14px] mt-4">
          Modern inventory management for growing businesses.
        </p>
      </div>
      <div class="w-full md:w-1/4">
        <h6 class="text-white text-[18px] mb-6 font-semibold">Product</h6>
        <ul class="text-white text-[14px]">
          <li class="mb-2"><a href="">Features</a></li>
          <li class="mb-2"><a href="">Integrations</a></li>
          <li class="mb-2"><a href="">Pricing</a></li>
          <li class="mb-2"><a href="">API</a></li>
        </ul>
      </div>
      <div class="w-full md:w-1/4">
        <h6 class="text-white text-[18px] mb-6 font-semibold">Company</h6>
        <ul class="text-white text-[14px]">
          <li class="mb-2"><a href="">About</a></li>
          <li class="mb-2"><a href="">Blog</a></li>
          <li class="mb-2"><a href="">Careers</a></li>
          <li class="mb-2"><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="w-full md:w-1/4">
        <h6 class="text-white text-[18px] mb-6 font-semibold">Legal</h6>
        <ul class="text-white text-[14px]">
          <li class="mb-2"><a href="">Privacy</a></li>
          <li class="mb-2"><a href="">Terms</a></li>
          <li class="mb-2"><a href="">Security</a></li>
          <li class="mb-2"><a href="">GDRP</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-6" />
    <p class="text-center text-white text-sm">
      © {{ currentYear }} Sell&Chill. All rights reserved.
    </p>
  </div>
</div>
