nav {
  z-index: 11;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  position: relative;

  .logo {
    font-weight: bold;
    font-size: 24px;
  }

  ul {
    display: flex;
    gap: 20px;
    list-style: none;

    li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0px;
    background: linear-gradient(
      180deg,
      rgba(0, 91, 86, 1) 55%,
      rgba(11, 122, 117, 1) 78%,
      rgba(11, 122, 117, 1) 98%
    );
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(11, 122, 117);
    &.active {
      display: flex;
    }
  }

  .hamburger {
    display: flex; /* show hamburger on mobile */
  }
}

.hamburger {
  .bar {
    transform-origin: center;
  }

  &.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(2px, 7px);
  }

  &.open .bar:nth-child(2) {
    opacity: 0;
  }

  &.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -7px);
  }
}

/* Mobile menu */
@media (max-width: 768px) {
  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 91, 86, 1) 55%,
      rgba(11, 122, 117, 1) 78%,
      rgba(11, 122, 117, 1) 98%
    );
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(11, 122, 117);

    &.active {
      display: flex;
    }
  }
}
