/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
  }
}
html {
  scroll-behavior: smooth;
}
.gradi_text {
  background: #00574e;
  background: linear-gradient(to right, #00574e 0%, #248f6b 50%, #54c08b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  line-height: 50px;
}
