<div class="bg-[#005B56] py-12">
  <div class="container mx-auto px-6 md:px-0">
    <div class="flex gap-4 md:gap-6 lg:gap-12 flex-col md:flex-row">
      <div class="w-full md:w-1/2 flex gap-6">
        <div class="w-full md:w-1/2">
          <div class="flex items-center gap-4">
            <img src="logo.svg" alt="" />
            <h6 class="text-white text-[20px] font-semibold">Sell&Chill</h6>
          </div>
          <p class="text-white text-[14px] mt-4">
            Modern inventory management for growing businesses.
          </p>
        </div>
        <div class="w-full md:w-1/2">
          <h6 class="text-white text-[18px] mb-6 font-semibold">Product</h6>
          <ul class="text-white text-[14px]">
            <li class="mb-2"><a href="/#features">Features</a></li>
            <li class="mb-2"><a href="#/integrations">Integrations</a></li>
            <li class="mb-2"><a href="/#events">Events</a></li>
            <li class="mb-2"><a href="/#business">Business</a></li>
          </ul>
        </div>
      </div>
      <div class="w-full md:w-1/2 flex gap-6">
        <div class="w-full md:w-1/2">
          <h6 class="text-white text-[18px] mb-6 font-semibold">Solutions</h6>

          <ul class="text-white text-[14px]">
            <li class="mb-2">
              <a routerLink="/solutions/online-&-retail-order-management"
                >Online & Retail Order Management</a
              >
            </li>
            <li class="mb-2">
              <a routerLink="/solutions/b2b-order-management">B2B Order Management</a>
            </li>
            <li class="mb-2">
              <a routerLink="/solutions/manufacturing-system">Manufacturing System</a>
            </li>
            <li class="mb-2">
              <a routerLink="/solutions/warehouse-management-system">Warehouse Management System</a>
            </li>
            <li class="mb-2">
              <a routerLink="/solutions/crm">CRM</a>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2">
          <h6 class="text-white text-[18px] mb-6 font-semibold">Support</h6>

          <ul class="text-white text-[14px]">
            <li class="mb-2">
              <a routerLink="/support/getting-started-guide">Getting Started Guide</a>
            </li>
            <li class="mb-2">
              <a routerLink="/support/partners">Partners</a>
            </li>
            <li class="mb-2">
              <a routerLink="/support/professional-services">Professional Services</a>
            </li>
            <li class="mb-2">
              <a routerLink="/support/blogs">Blogs</a>
            </li>
            <li class="mb-2">
              <a routerLink="/support/events">Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6" />
    <p class="text-center text-white text-sm">
      © {{ currentYear }} Sell&Chill. All rights reserved.
    </p>
  </div>
</div>
